{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VGU Project</title>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/png"> 
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}"> 
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body{
            width: 100%;
            height: 100vh;
            background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("{% static 'images/VGU.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/student.css' %}" type="text/css">
</head>
<body>
    <h1>Select a topic :</h1>
    <hr>
    <div class="topics">
        <div class="resume ct">
            <a href="{% url 'resume' %}">
                <p>Resume Analysis for better selection chance</p>
            </a>
        </div>
        <div class="summary ct">
            <a href="{% url 'summary' %}">
                <p>Summarize Long Articles using AI</p>
            </a>
        </div>
        <div class="encode ct">
            <a href="{% url 'ecdc' %}">
                <p>Encode or Decode your private files</p>
            </a>
        </div>
    </div>
</body>
</html>